<app-admin-sidebar></app-admin-sidebar>

<main id="main" class="main">
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-4">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Products</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{productsLength}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="col-xxl-4 col-md-4">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">Categories</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{categoriesLength}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-md-4">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Customers</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{usersLength}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="col-lg-12">
              <div class="row">
                <div class="col-12">
                  <div class="card top-selling overflow-auto">
                    <div class="card-body pb-0">
                      <h5 class="card-title">Products</h5>
      
                      <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">Preview</th>
                            <th scope="col">Product</th>
                            <!-- <th scope="col">Category</th> -->
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let product of products"
                            class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
                          >
                            <th scope="row">
                              <a href="#"><img [src]="product.image" alt="" /></a>
                            </th>
                            <td class="text-primary">{{ product.name }}</td>
                            <!-- <td>{{ product.categoryName }}</td> -->
                            <td>${{ product.price }}</td>
                            <td class="fw-bold">{{ product.quantity }}</td>
                            <td>
                              <div class="btn text-info py-1 px-2 me-2 border-end"
                              [routerLink]="['/products', product.id]"><i class="bi-eye"></i></div>
                              <div class="btn text-muted py-1 px-2 me-2 border-end"
                              [routerLink]="['/adminproducts', product.id, 'edit']"><i class="bi-pencil-square"></i></div>
                              <div class="btn text-danger py-1 px-2 me-2"
                              (click)="deleteHandler(product.id)"><i class="bi-trash"></i></div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
       


          <!-- End Top Selling -->
        </div>
      </div>
      <!-- End Left side columns -->
    </div>
  </section>
</main>
<!-- End #main -->
