<section class="section mt-5">
  <div class="container">
    <div class="section_category">
      <p class="section_category_p">Products</p>
    </div>
    <div class="section_header">
      <h5 class="section_title">Explore all Products</h5>
    </div>
    <div class="filter mt-5">
      <button
        class="btn btn-outline-danger me-2 rounded-1 py-2 px-4"
        [class.active]="activeCategory === 'All'"
        (click)="filterProducts('All')"
      >
        All
      </button>
      <button
        *ngFor="let category of categories"
        class="btn btn-outline-danger me-2 rounded-1 py-2 px-4"
        [class.active]="activeCategory === category.name"
        (click)="filterProducts(category.name)"
      >
        {{ category.name }}
      </button>
    </div>
    <div class="my-4">
      <div class="row">
        <app-product-item
          *ngFor="let currentProduct of paginatedProducts; trackBy: trackByProductId"
          class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
          [product]="currentProduct"
        ></app-product-item>
      </div>
    </div>
    <div aria-label="Page navigation" class="d-flex justify-content-center mt-5 text-center mx-auto">
      <ul class="pagination text-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let page of totalPagesArray" [ngClass]="{'active': currentPage === page}">
          <a class="page-link text-bg-danger border-0" (click)="changePage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
    
  </div>
</section>
