nav{
  margin-bottom: 500px;
}
.custom-navbar {
  background: var(--primary) !important;
  padding: 10px 0;
  
}
.custom-navbar .navbar-brand {
  font-size: 30px;
  font-weight: 600;
}

.custom-navbar .navbar-toggler {
  border-color: transparent;
}
.custom-navbar .navbar-toggler:active,
.custom-navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.cart-counter {
  background-color: var(--secondry);
  color: #ffffff;
  border-radius: 45%;
  font-size: 12px;
  padding: 0 5px;
  top: 0;
  left: 20px;
}
@media (min-width: 992px) {
  .custom-navbar .custom-navbar-nav li {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.custom-navbar .custom-navbar-nav li a {
  color: #ffffff !important;
  opacity: 0.9;
  font-size: 14px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: relative;
}
@media (min-width: 768px) {
  .custom-navbar .custom-navbar-nav li a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    background: var(--secondry);
    height: 2px;
    opacity: 1;
    visibility: visible;
    width: 0;
    -webkit-transition: 0.15s all ease-out;
    -o-transition: 0.15s all ease-out;
    transition: 0.15s all ease-out;
  }

}
.custom-navbar .custom-navbar-nav li a:hover {
  opacity: 1;
}
.custom-navbar .custom-navbar-nav li a:hover:before {
  width: calc(100% - 16px);
}
.custom-navbar .custom-navbar-nav li.active a {
  opacity: 1;
}

.custom-navbar .custom-navbar-nav li.active a:before {
  width: calc(100% - 16px);
}
.custom-navbar .custom-navbar-cta {
  margin-left: 0 !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 768px) {
  .custom-navbar .custom-navbar-cta {
    margin-left: 30px !important;
  }
}
.custom-navbar .custom-navbar-cta li {
  margin-left: 0px;
  margin-right: 0px;
}
.custom-navbar .custom-navbar-cta li:first-child {
  margin-right: 20px;
}

.dropbtn {
  padding: 10px 15px;
  font-size: 16px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-left:20px;
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: #070707;
  min-width: 160px;
  border: 1px solid #888;
  border-radius:0px 20px 20px 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 10px 10px;
  margin: 6px 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
.dropdown-content a:hover {
  background-color: #333;
  border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}

#profile-circle {
  width: 30px;
  height: 30px;
}