<div class="row border-top border-bottom">
  <div class="row main align-items-center">
    <div class="col-2">
      <img class="img-fluid" src="{{ item.imageUrl }}" />
    </div>
    <div class="col">
      <div class="row text-muted">{{ item.name }}</div>
      <div class="row">{{ item.name }}</div>
    </div>
    <div class="col counter">
      <button class="border-0 fs-5 bg-transparent" (click)="decreaseQuantity()">-</button>
      <span class="border px-2">{{ item.quantity }}</span>
      <button class="border-0 fs-5 bg-transparent" (click)="increaseQuantity()">+</button>
    </div>
    <div class="col">
      &euro; {{ item.price }}
      <button class="border-0 bg-transparent fs-4 text-danger fw-semibold py-1 px-2 ms-5"
        (click)="removeItem()">x</button>
    </div>
  </div>
</div>