<!-- 
<section class="category-section py-5">
    <div class="container">
        <h2 class="text-center mb-4">Shop by Category</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let category of categories">
                <div
                    class="category-card card h-100 shadow-sm rounded-3 overflow-hidden d-flex flex-column justify-content-between bg-light">
                    <img [src]="category.image" class="card-img-top" [alt]="category.name">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ category.name }}</h5>
                    </div>
                    <a [href]="category.url" class="stretched-link text-decoration-none"></a>
                </div>
            </div>
        </div>
    </div>
</section> -->