a {
  text-decoration: none;
}
.product-card {
  position: relative;
  box-shadow: 0 2px 9px #ececec;
  margin: 20px auto;
  background: #fafafa;
  max-width: 240px;
  overflow: hidden;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: #0d9b2e;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0;
}


.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  position: relative;
}

.product-tumb img {
  width: 100%;
  height: 100%;
}

.product-links {
  position: absolute;
  right: -35px;
  top: 20px;
}

.product-links button {
  display: block;
  margin-bottom: 5px;
  background: #8f8f8fcf;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 700;
  z-index: 1111;
}

.product-links button:hover .product-img {
  filter: brightness(70%) !important;
  transition-duration: 0.5s;
}
.product-tumb img:hover {
  filter: brightness(70%) !important;
  transition-duration: 0.5s;

}
.product-tumb img:hover .product-links {
  right: -35px;
  top: 20px;
  
}
.product-details {
  padding: 20px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #aaa;
  margin-bottom: 10px;
}

.product-details h5 a {
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: var(--primary);
}

.product-details .stars {
  margin-bottom: 15px;
  position: absolute;
  right: 25px;
}
.product-details .stars i {
  padding: 1px;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  margin-top: 5px;
  color: var(--secondry);
  font-weight: 600;
}
.cart-btn:hover,
button:hover {
  background: rgb(201, 6, 6);
}
