<br /><br />
<div class="card">
  <div class="row">
    <div class="col-md-8 cart me-0 pe-0">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Shopping Cart</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">{{ totalItems }} items</div>
        </div>
      </div>
      <div style="height: 280px; overflow-y: auto; overflow-x: hidden;">
        <app-cart-item *ngFor="let item of cartItems" [item]="item" (remove)="removeItem(item.productId)"
          (quantityChange)="updateQuantity(item, $event)"></app-cart-item>
      </div>
      <div class="back-to-shop">
        <a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span>
      </div>
    </div>
    <div class="col-md-4 summary">
      <div>
        <h5><b>Summary</b></h5>
      </div>
      <hr />
      <div class="row">
        <div class="col" style="padding-left: 0;">ITEMS {{ totalItems }}</div>
        <div class="col text-right">&euro; {{ totalPrice }}</div>
      </div>
      <form>
        <p>SHIPPING</p>
        <select>
          <option class="text-muted">Standard-Delivery- &euro;5.00</option>
        </select>
        <p>GIVE CODE</p>
        <input id="code" placeholder="Enter your code" />
      </form>
      <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0;">
        <div class="col">TOTAL PRICE</div>
        <div class="col text-right">&euro; {{ totalPrice + 5 }}</div>
      </div>
      <button class="checkout-btn" (click)="clearCart()">CHECKOUT</button>
    </div>
  </div>
</div>