<br> <br>

<div class="card">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Shopping Cart</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">{{ totalItems }} items</div>
        </div>
      </div>
      <div class="cart-items-container" style="height: 280px; overflow-y: auto; overflow-x: hidden;">
        <app-cart-item *ngFor="let item of cartItems" [item]="item" (remove)="removeItem(item.productId)"
          (quantityChange)="updateQuantity(item, $event)">
        </app-cart-item>
      </div>
      <div class="back-to-shop">
        <a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span>
      </div>
    </div>
    <div class="col-md-4 summary">
      <div>
        <h5><b>Summary</b></h5>
      </div>
      <hr />
      <div class="row">
        <div class="col">Items: {{ totalItems }}</div>
        <div class="col text-right">&dollar; {{ totalPrice }}</div>
      </div>
      <form>
        <p>Delivery Options</p>
        <select class="form-control" (change)="onDeliveryOptionChange($event)">
          <option value="0">Select delivery option</option>
          <option value="5">Regular +5.0 &dollar; [7-10 Days]</option>
          <option value="15">Standard +15.0 &dollar; [3-5 Days]</option>
          <option value="25">Fast +25.0 &dollar; [in 24 Hours]</option>
        </select>
        <p>Discount Code</p>
        <input id="code" class="form-control" placeholder="Enter your code" />
      </form>
      <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0;">
        <div class="col">Total Price</div>
        <div class="col text-right">&dollar; {{ totalPrice + deliveryCost | number:'1.2-2'}}</div>
      </div>
      <button class="btn btn-primary checkout-btn" (click)="checkout()">Check Out</button>
    </div>
  </div>
</div>